<div id="js-messages__index" class="columns">
  <div class="column is-1">
    <%= link_to 'Create', new_message_path, class: 'button is-primary' %>
  </div>

  <div class="column is-5">
    <table class="table" style="width: 100%;">
      <thead>
      <tr>
        <th>No</th>
        <th>State</th>
        <th>Message</th>
        <th>Due</th>
      </tr>
      </thead>
      <tbody v-for="message in messages">
      <tr>
        <td>{{ message.id }}</td>
        <td><span class="tag is-primary">In Progress</span></td>
        <td>{{ message.message }}</td>
        <td>{{ message.due_at }}</td>
      </tr>
      </tbody>
    </table>

    <!--
    <nav class="pagination is-centered">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
    </nav>
    -->
  </div>

  <div class="column is-6">
    <h3 class="title is-3">Result Report</h3>

    <h4 class="title is-4">Answers</h4>
    <div style="width: 300px; height: 300px; margin: auto;">
        <canvas id="result_report"></canvas>
    </div>

    <table class="table" width="100%">
      <tr>
        <td width="40%">回答A</td>
        <td width="10%" nowrap>5% / 1</td>
        <td width="50%"><progress class="progress is-danger" value="5" max="100">5%</progress></td>
      </tr>
      <tr>
        <td width="40%">回答B</td>
        <td width="10%" nowrap>10% / 2</td>
        <td width="50%"><progress class="progress is-warning" value="10" max="100">100%</progress></td>
      </tr>
      <tr>
        <td width="40%">回答C</td>
        <td width="10%" nowrap>15% / 4</td>
        <td width="50%"><progress class="progress is-success" value="15" max="100">15%</progress></td>
      </tr>
      <tr>
        <td width="40%">回答D</td>
        <td width="10%" nowrap>20% / 8</td>
        <td width="50%"><progress class="progress is-primary" value="20" max="100">20%</progress></td>
      </tr>
      <tr>
        <td width="40%">回答E</td>
        <td width="10%" nowrap>50% / 20</td>
        <td width="50%"><progress class="progress is-info" value="50" max="100">50%</progress></td>
      </tr>
    </table>

    <h5 class="title is-5">Voters</h5>
    <table class="table" width="100%">
      <thead>
      <tr>
        <th>アイコン</th>
        <th>回答者</th>
        <th>回答</th>
        <th>回答日時</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><img src="https://avatars.slack-edge.com/2016-04-01/31165631686_d9eb6d000965c39bfbaa_192.jpg" class="image is-48x48"></td>
        <td>@takumakume</td>
        <td>回答A</td>
        <td>2017-08-03 10:13:10</td>
      </tr>
      <tr>
        <td><img src="https://avatars.slack-edge.com/2015-05-08/4787287488_5cdb45313c223b678927_192.jpg" class="image is-48x48"></td>
        <td>@hypermkt</td>
        <td>回答B</td>
        <td>2017-08-03 10:13:10</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<%= javascript_pack_tag "messages/index" %>
