<div class="columns">

  <div class="column is-1">
    <a class="button is-primary">Create</a>
  </div>

  <div class="column is-5">
    <table class="table" style="width: 100%;">
      <thead>
      <tr>
        <th>No</th>
        <th>Message</th>
        <th>Due</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>◯◯について確認があります。</td>
        <td>2017-08-10 19:00</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="column is-6">
    <h3 class="title is-3">Result Report</h3>
    <div style="width: 300px; height: 300px; ">
    <canvas id="result_report"></canvas>
    </div>
    <script>
        var ctx = document.getElementById("result_report");
        new Chart(ctx,{
            type: 'pie',
            data: data = {
                datasets: [{
                    data: [10, 20, 30],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                }],
                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    '回答A',
                    '回答B',
                    '回答C'
                ]
            },
            options: {}
        });
    </script>
    <h3 class="title is-3">Answers</h3>

    <table class="table" width="100%">
      <tr>
        <td width="40%">回答A</td>
        <td width="10%" nowrap>30% / 3</td>
        <td width="50%"><progress class="progress is-primary" value="30" max="100">30%</progress></td>
      </tr>
      <tr>
        <td width="40%">回答B</td>
        <td width="10%" nowrap>30% / 3</td>
        <td width="50%"><progress class="progress is-primary" value="30" max="100">30%</progress></td>
      </tr>
      <tr>
        <td width="40%">回答C</td>
        <td width="10%" nowrap>30% / 3</td>
        <td width="50%"><progress class="progress is-primary" value="30" max="100">30%</progress></td>
      </tr>
    </table>

    <h4 class="title is-4">Voters</h4>
    <table class="table">
      <thead>
      <tr>
        <th>アイコン</th>
        <th>回答者</th>
        <th>回答</th>
        <th>回答日時</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><img src="https://avatars.slack-edge.com/2016-04-01/31165631686_d9eb6d000965c39bfbaa_192.jpg" class="image is-48x48"></td>
        <td>@takumakume</td>
        <td>回答A</td>
      </tr>
      <tr>
        <td><img src="https://avatars.slack-edge.com/2015-05-08/4787287488_5cdb45313c223b678927_192.jpg" class="image is-48x48"></td>
        <td>@hypermkt</td>
        <td>回答B</td>
      </tr>
      <tr>
        <td><img src="https://avatars.slack-edge.com/2015-05-08/4787287488_5cdb45313c223b678927_192.jpg" class="image is-48x48"></td>
        <td>@hypermkt</td>
        <td>回答C</td>
      </tr>
      </tbody>
    </table>
  </div>

  <script type="application/javascript">

  </script>
</div>