<div id="js-messages__index" class="columns">
  <div class="column is-1">
    <%= link_to 'Create', new_message_path, class: 'button is-primary' %>
  </div>

  <div class="column is-5">
    <table class="table" style="width: 100%;">
      <thead>
      <tr>
        <th>No</th>
        <th>State</th>
        <th>Message</th>
        <th>Due</th>
      </tr>
      </thead>
      <tbody v-for="message in messages">
      <tr @click="selected_message=message">
        <td>{{ message.id }}</td>
        <td><message_status :report="message.report"></message_status></td>
        <td>{{ message.message }}</td>
        <td>{{ message.due_at_for_view }}</td>
      </tr>
      </tbody>
    </table>

    <!--
    <nav class="pagination is-centered">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
    </nav>
    -->
  </div>

  <message_detail :selected_message="selected_message"></message_detail>
</div>

<%= javascript_pack_tag "messages/index" %>
