<div id="js-messages__index" class="columns">

  <div class="column is-5">
    <%= link_to new_message_path, class: 'button is-info is-outlined' do %>
      <span class="icon">
        <i class="fa fa-slack"></i>
      </span>
      <span>Create</span>
    <% end %>
    <table class="table">
      <thead>
      <tr>
        <th>State</th>
        <th>Message</th>
        <th>Due</th>
      </tr>
      </thead>
      <tr @click="selected_message=message" v-for="message in messages" class="is-size-7">
        <td><message_status :report="message.report"></message_status></td>
        <td>{{ message.message }}</td>
        <td>{{ message.due_at_for_view }}</td>
      </tr>
      </tbody>
    </table>

    <!--
    <nav class="pagination is-centered">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
    </nav>
    -->
  </div>

  <message_detail :selected_message="selected_message"></message_detail>
</div>

<%= javascript_pack_tag "messages/index" %>
