
<div class="row">
  <div class="col">
    <table class="table table-">
      <tr>
        <td>
          件名1
        </td>
      </tr>
      <tr>
        <td>
          件名2
        </td>
      </tr>
    </table>
  </div>
  <div class="col">
    rate
  </div>
</div>
