<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-half is-vcentered">
      <div class="column is-6 is-offset-0">
        <h1 class="title is-2">
          Collec
        </h1>
        <h2 class="subtitle is-4">
          I will tell you your question
        </h2>
        <div class="is-center">
          <%= link_to user_slack_omniauth_authorize_path, class: 'btn btn-block btn-social btn-linkedin', style: "width: 300px; margin: 0 auto;"  do %>
            <span class="fa fa-slack"></span> Sign in with Slack
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
