@import "bootstrap-social";
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #fff;
}
.is-dark {
  background-color: #F62459;
  background-image: url('top/top_back.png');
}
.nav {
  padding: 20px 0;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 0 30px;
}
.nav-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.promo-img {
  border-radius: 10px;
  border: 10px solid #fff;
}
